{% extends 'common/base.html' %}
{% load has_group %}

{% block content %}
    <div class="white_block_details">
        <form method="post" style="color:#111;" >
            <h3 class="text-center">{{ company.company_name }}</h3>
            <hr>
            <img class="content_image" src="{{ company.image_url }}" alt="" >
            {% if company.areas.exists %}
            {% for area in areas %}
            <h5> {{ area.name }}</h5>
        {% endfor %}
        {% endif %}
         <p><u>Details:</u> {{ company.phone_number }}</p>
        <p>{{ company.address }}</p>
        <p>{{ company.website }}</p>
        {% if company.expertise %}
            <h5 class="text_description"> Expertise: {{ company.expertise }}</h5>
        {% endif %}
        {% if is_creator or request.user|has_group:'Admin'%}
            <div>
                <a href="{% url 'company edit' company.id %}" class="btn-edit">Edit</a>
                <a href="{% url 'company delete' company.id %}" class="btn-delete">Delete</a>
            </div>
        {% endif %}

         </form>
    </div>

{% endblock %}



