{% extends 'common/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="white_block_details">
    <h1 class="text-center" style="color:#111;">Add new company</h1>
        <div class="row">
            <div class="col-lg-6" style="margin: auto;">
                <form method="post" class="furniture-form" action="{% url 'company create'%}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button class="btn-create" type="submit">Create</button>
                </form>
            </div>
        </div>
{% endblock %}
