{% extends 'common/base.html' %}

{% block content %}

    <h1 class='text-center'>My companies</h1>
    <div class="row">
    {% if have_companies %}
        {% for company in companies_area %}
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">

                    <h2 class="card-header">{{ company.company_name }}</h2>
                    <div class="card-body">
                        <img class="card-img" src="{{ company.image_url }}" alt="Card image cap">
                        {% if company.mainarea_set.exists %}
                            {% for area in company.area_set.all %}
                            <h5 class="card-title">{{ area.name }}</h5>
                      {% endfor %}
                        {% endif %}
                    <br>
                    <hr>

                        <div>
                            <a href="{% url 'company details' company.id %}" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <hr>
        {% endfor %}
    {% else %}
        <div class="card-body">
                <p class="mt-2">Sorry! There are no companies in this area registered yet.
                </p>
                <p class="card-text">Go back to Legal help <a href="{% url 'legal index' %}">here!</a>
                </p>
            </div>
         </div>
    {% endif %}
{% endblock %}