
{% extends 'common/base.html' %}

{% block content %}
    {% if have_companies %}
        <div class="row">
            {% for company in companies_area %}
                <div class="col-md-3">
                    <a href="{% url 'company details' company.id %}" class="card">
                        <img src="{{ company.image_url }}" class="card__image" alt=""/>
                        <div class="card__overlay">
                            <div class="card__header">
                                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                                    <path/>
                                </svg>
                                <div class="card__header-text">
                                    <h3 class="card__title">{{ company.company_name }}</h3>
{#                                    {% if company.mainarea_set.exists %}#}
{#                                        {% for area in company.area_set.all %}#}
{#                                            <h3 class="card__title">{{ area.name }}</h3>#}
{#                                            <h5 class="card__subtitle">{{ area.name }}</h5>#}
{#                                        {% endfor %}#}
{#                                    {% endif %}#}
                                     {% for area in company.area_set.all %}
                                            <h3 class="card__title">{{ area.name }}</h3>
                                            <h5 class="card__subtitle">{{ area.name }}</h5>
                                        {% endfor %}
                                </div>
                            </div>
                            <p class="card__description"> See more about us</p>
                        </div>
                    </a>
                </div>
                </div>
            {% endfor %}
    {% else %}
        <div class="card-body">
            <p class="mt-2" style="color:rosybrown;">Sorry! There are no companies in this area registered yet.
            </p>
            <p class="card-text" style="color:rosybrown;">Go back to Legal help <a
                    href="{% url 'legal index' %}">here!</a>
            </p>
        </div>
    {% endif %}
{% endblock %}