{% load has_group %}
<header>
    <nav class="navbar">
        <!-- LOGO -->
        <div class="logo">LEGAL MAP</div>
        <!-- NAVIGATION MENU -->
        <ul class="nav-links">
            <!-- USING CHECKBOX HACK -->
            <input type="checkbox" id="checkbox_toggle"/>
            <label for="checkbox_toggle" class="hamburger">&#9776;</label>
            <!-- NAVIGATION MENUS -->
            <div class="menu">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'contact us' %}">Contact Us</a></li>
                {% if request.user.is_authenticated %}
                <li class="services">
                    <a href="/">Menu</a>
                    <!-- DROPDOWN MENU -->
                    <ul class="dropdown">
                        <li><a href="{% url 'list all articles' %}">All articles </a></li>
                        <li><a href="{% url 'legal index' %}">Legal help </a></li>
                        <li><a href="{% url 'company create' %}">Create company </a></li>
                        <a class="dropdown-item" href="{% url 'list my companies' %}">My companies</a></li>
                            {% if request.user|has_group:'Author' or request.user|has_group:'Admin'%}
                                <li><a href="{% url 'article create' %}">Create article </a></li>
                                <li><a href="{% url 'list my articles' %}">My articles </a></li>
                            {% endif %}
                    </ul>
                </li>
                <li><a href="{% url 'profile details' %}"> {{ request.user }}</a></li>
                <li><a href="{% url 'sign out' %}">Sign out </a></li>
                        {% else %}
                    <li class="services">
                    <a href="/">Menu</a>
                    <!-- DROPDOWN MENU -->
                    <ul class="dropdown">
                        <li><a href="{% url 'list all articles' %}">All articles </a></li>
                        <li><a href="{% url 'legal index' %}">Legal help </a></li>
                    </ul>
                </li>
                <li><a href="{% url 'sign up' %}">Sign up</a></li>
                <li><a href="{% url 'signin' %}">Sign in</a></li>
                    {% endif %}

            </div>
        </ul>
    </nav>
</header>