

html {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}



main {
    font-family: Barlow, Quicksand, Rubik, sans-serif, serif, 'Garamond', Times, serif !important;
}


footer {
    font-family: Rubik, sans-serif, serif, 'Garamond', Times, serif;
}

.example::-webkit-scrollbar {
    display: none;
}

.custom-header:hover {
    /*background: rgb(143, 189, 186) !important;*/
}


.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    margin: 2%;
}

.btn-edit {
    color: #fff;
    background-color: #7c7e4a;
    border-color: #7c7e4a;
    margin: 3px 1px;
    padding: 9px 15px;
    border-radius: 14px;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
}
.btn-edit:hover {
     color: #1cc49d;
    background-color: #1b2f31;
    /*border: 0.5px solid white;*/
}

.btn-delete {
    color: #fff;
    background-color: #5f3734;
    border-color: #5f3734;
    margin: 3px 1px;
    padding: 9px 15px;
    border-radius: 14px;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
}
.btn-delete:hover {
    background: #c4463c;
    color: #ffffff;
    /*border: 0.5px solid white;*/
}

.btn-create {
    color: #fff;
    background-color: #767777;
    border-color: #767777;
    margin: 3px 1px;
    padding: 9px 15px;
    border-radius: 14px;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
}
.btn-create:hover {
    color: #D4DFE9;
    background-color: steelblue;
    /*border: 0.5px solid white;*/
}
html,

body {
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}



body {
  font-family: tahoma;
  height: 100vh;
  background-image: url(white_brown.jpg);
  background-size: cover;
  background-position: center;
  align-items: center;
}



.fa:hover {
    color: red;

}

.fa {
    color: black;
}

.profa {
    color: black;
}


footer .container-fluid {
    padding: 10vmin 10vmin;
}

footer .column a+a {
    padding: 0 0.7em;
}



.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

/*
.content-section a:hover {
    background: red;
} */

.account-img {
    height: 125px !important;
    width: 125px !important;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}


/*card styles*/
 :root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #fef8f8;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 325px;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
  margin: 5%;
  box-shadow: 0 0 20px 8px #d0d0d0;
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

.card__image {
  width: 100%;
  height: 70%;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 2px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
     position: relative;
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 2em;
    border-radius: calc(var(--curve) * 2px) 0 0 0;
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
    padding-left: 5%;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 99%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 36%;
  height: 36%;
  border-radius: 50%;
}

.card__title {
  font-size: 1.2em;
  margin: 0 0 .3em;
  color: #111;
  padding-left: 4px;
}

.card__tagline {
  display: block;
  margin: 0.1em 0;
  font-family: "MockFlowFont";
  font-size: .9em;
  color: #6A515E;
}

.card__status {
  font-size: .8em;
  color: #D7BDCA;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #6A515E;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

/* article
*/

article {
  max-width: 900px;
  margin: 1rem auto;
  font: 1.5rem/1.5 system-ui;
  background-color: floralwhite;
}

figure {
  padding: 0;
  margin: 0;
  position: relative;
  padding-bottom: 150px;}
  img {
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
  }


  + p {
    padding-top: 20px;
    margin-top: -280px;
    text-align: justify-all;
    background: white;
    position: fixed;
  }


  /* UTILITIES */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 font-family: cursive;
}
a {
 text-decoration: none;
}
li {
 list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
 display: flex;
 align-items: center;
 justify-content: space-between;
 background-color: #8b6745f0;
 color: #fff;
}
.nav-links a {
 color: #fff;
 text-decoration: none;
}

/* LOGO */
.logo {
 font-size: 32px;
}
/* NAVBAR MENU */
.menu {
 display: flex;
 gap: 1em;
 font-size: 18px;
}
.menu li:hover {
 background-color: #604003;
 border-radius: 5px;
 transition: 0.3s ease;
}
.menu li {
 padding: 5px 14px;
}
/* DROPDOWN MENU */
.services {
 position: relative;
}
.dropdown {
 background-color: #8b6745f0;
 padding: 1em 0;
 position: absolute; /*WITH RESPECT TO PARENT*/
 display: none;
 border-radius: 8px;
 top: 35px;
 z-index: 999;
}
.dropdown li + li {
 margin-top: 10px;
}
.dropdown li {
padding: 0.5em 1em;
width: 10em;
text-align: left;
}
.dropdown li:hover {
 background-color: #604003;
}
.services:hover .dropdown {
 display: block;
}

/*HAMBURGER MENU*/
.hamburger {
 display: none;
 font-size: 24px;
 user-select: none;
 cursor: pointer;
}
/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
.menu {
 display:none;
 position: absolute;
 background-color:#8b6745f0;
 right: 0;
 left: 0;
 text-align: center;
 padding: 16px 0;
 z-index: 999;
}
.menu li:hover {
 display: inline-block;
 background-color:#604003;
 transition: 0.3s ease;
}
.menu li + li {
 margin-top: 12px;
}
input[type=checkbox]:checked ~ .menu{
 display: block;
}
.hamburger {
 display: block;
}
.dropdown {
 left: 50%;
 top: 30px;
 transform: translateX(35%);
}
.dropdown li:hover {
 background-color: #604003;
}
}

/*Sign in and Sign up
 */


.white_block  {
  width: 600px;
  background: #f2f2f2b3;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 20px 8px #d0d0d0;
  margin:auto;
  padding: 16px;
}

.white_block .content {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    text-align: justify;
    color: black;
    padding: 40px;
    font-family: 'Merriweather', serif;
}

.white_block_article  {
    width: 260px;
    background: #f2f2f2b3;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 20px 8px #d0d0d0;
    margin: 2%;
    padding: 16px;
    animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

.white_block_article .content_image {
    height: 200px;
    width: 100%;
    padding: 0 8px 0 8px;
    border-radius: 22px
}

.white_block_article .block_date_text{
    font-style: italic;
}

.white_block_article .text_description{
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0px 8px 0 8px;
    background: #ffffffd1;
    border-radius: 4px;
}

.white_block_details  {
    width: 65%;
    background: #f2f2f2b3;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 20px 8px #d0d0d0;
    margin: auto;
    margin-bottom: 6%;
    padding: 16px;
}

.white_block_details .content_image {
    height: 300px;
    width: 400px;
    float: left;
    padding: 0 8px 0 8px;
    border-radius: 22px;
}

.white_block_details .block_date_text{
    font-style: italic;
}

.white_block_details .text_description{
    float: left;
    padding: 0px 8px 0 8px;
    background: #ffffffd1;
    border-radius: 4px;
    width: 100%;
    word-wrap: break-word;
}

h1 {
  font-weight: 900;
  text-align: center;
}

h3 {
  font-weight: 300;
}

p.notif1 {
    margin: 1%;
}

/* QuillField settings */
.ql-snow  {
    background-color: whitesmoke;
}
.ql-snow * {
    box-sizing: border-box;
}
.ql-container {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  height: 100%;
  margin: 0px;
  position: relative;
}

.form-check input, label {
  cursor: pointer !important;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
    height: 150px !important;
}

.ql-toolbar.ql-snow {
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
    border-bottom-left-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}