

html {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}


main {
    font-family: Barlow, Quicksand, Rubik, sans-serif, serif, 'Times New Roman', Times, serif !important;
}


footer {
    font-family: Rubik, sans-serif, serif, 'Times New Roman', Times, serif;
}

.example::-webkit-scrollbar {
    display: none;
}

.custom-header:hover {
    /*background: rgb(143, 189, 186) !important;*/
}


.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    margin: 2%;
}

.btn-edit {
    color: #fff;
    background-color: cadetblue;
    border-color: cadetblue;
    margin: 3px 1px;
    padding: 12px 32px;
    border-radius: 24px;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
}
.btn-edit:hover {
     color: #1cc49d;
    background-color: #1b2f31;
    /*border: 0.5px solid white;*/
}

.btn-delete {
    color: #fff;
    background-color: #c4463c;
    border-color: #c4463c;
    margin: 3px 1px;
    padding: 12px 32px;
    border-radius: 24px;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
}
.btn-delete:hover {
    background: #FF3300;
    color: #ffffff;
    /*border: 0.5px solid white;*/
}

.btn-create {
    color: #fff;
    background-color: steelblue;
    border-color: steelblue;
    margin: 3px 1px;
    padding: 12px 32px;
    border-radius: 24px;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
}
.btn-create:hover {
    color: #D4DFE9;
    background-color: #333399;
    /*border: 0.5px solid white;*/
}
html,

body {
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}



body {
  font-family: tahoma;
  height: 100vh;
  background-image: url(white_brown.jpg);
  background-size: cover;
  background-position: center;
  align-items: center;
}

/*.legal_articles .card-header {*/
/*    background-color: seashell;*/
/*}*/



/*.legal_articles .myimage {*/
/*    opacity: 1;*/
/*    display: block;*/
/*    transition: .5s ease;*/
/*    backface-visibility: hidden;*/
/*}*/

/*.legal_articles .card-img-top:hover {*/
/*    opacity: 0.9;*/
/*    transform: scale(1.02);*/
/*    transition: 0.2s ease;*/

/*}*/

/*.legal_articles .col-md-3 .card {*/
/*    width: 100%;*/
/*    height: 100%;*/

/*}*/


.fa:hover {
    color: red;

}

.fa {
    color: black;
}

.profa {
    color: black;
}


footer .container-fluid {
    padding: 10vmin 10vmin;
}

footer .column a+a {
    padding: 0 0.7em;
}



.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

/*
.content-section a:hover {
    background: red;
} */

.account-img {
    height: 125px !important;
    width: 125px !important;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}


/*card styles*/
 :root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #fef8f8;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 325px;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #6A515E;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: .8em;
  color: #D7BDCA;
}

.card__status {
  font-size: .8em;
  color: #D7BDCA;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #D7BDCA;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

/* article experiment
*/

article {
  max-width: 900px;
  margin: 1rem auto;
  font: 1.5rem/1.5 system-ui;
  background-color: floralwhite;
}

figure {
  padding: 0;
  margin: 0;
  position: relative;
  padding-bottom: 150px;}
  img {
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
  }
/*  img.top {*/
/*    position: absolute;*/
/*    top: 115px;*/
/*    left: 0;*/
/*  }*/
/*figcaption {*/
/*    border: 5px solid #009688;*/
/*    color: #009688;*/
/*    text-transform: uppercase;*/
/*    font-size: 3rem;*/
/*    line-height: 1;*/
/*    padding: 0.25rem;*/
/*    text-align: center;*/
/*    position: sticky;*/
/*    top: 0;*/
/*    mix-blend-mode: color-dodge;}*/
/*    strong {*/
/*      display: block;*/
/*    }*/

  + p {
    padding-top: 20px;
    margin-top: -280px;
    text-align: justify-all;
    background: white;
    position: fixed;
  }


  /* UTILITIES */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 font-family: cursive;
}
a {
 text-decoration: none;
}
li {
 list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px;
 background-color: #8b6745;
 color: #fff;
}
.nav-links a {
 color: #fff;
}
/* LOGO */
.logo {
 font-size: 32px;
}
/* NAVBAR MENU */
.menu {
 display: flex;
 gap: 1em;
 font-size: 18px;
}
.menu li:hover {
 background-color: #604003;
 border-radius: 5px;
 transition: 0.3s ease;
}
.menu li {
 padding: 5px 14px;
}
/* DROPDOWN MENU */
.services {
 position: relative;
}
.dropdown {
 background-color: #8b6745;
 padding: 1em 0;
 position: absolute; /*WITH RESPECT TO PARENT*/
 display: none;
 border-radius: 8px;
 top: 35px;
}
.dropdown li + li {
 margin-top: 10px;
}
.dropdown li {
 padding: 0.5em 1em;
 width: 8em;
 text-align: center;
}
.dropdown li:hover {
 background-color: #604003;
}
.services:hover .dropdown {
 display: block;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
 display: none;
}
/*HAMBURGER MENU*/
.hamburger {
 display: none;
 font-size: 24px;
 user-select: none;
 cursor: pointer;
}
/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
.menu {
 display:none;
 position: absolute;
 background-color:teal;
 right: 0;
 left: 0;
 text-align: center;
 padding: 16px 0;
}
.menu li:hover {
 display: inline-block;
 background-color:#4c9e9e;
 transition: 0.3s ease;
}
.menu li + li {
 margin-top: 12px;
}
input[type=checkbox]:checked ~ .menu{
 display: block;
}
.hamburger {
 display: block;
}
.dropdown {
 left: 50%;
 top: 30px;
 transform: translateX(35%);
}
.dropdown li:hover {
 background-color: #4c9e9e;
}
}

/*Sign in and Sign up
 */


.white_block  {
  width: 600px;
  background: #f2f2f2b3;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 20px 8px #d0d0d0;
  margin:auto;
  padding: 16px;
}

.white_block .content {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    text-align: justify;
    color: black;
    padding: 40px;
    font-family: 'Merriweather', serif;
}

.white_block_article  {
    width: 260px;
    background: #f2f2f2b3;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 20px 8px #d0d0d0;
    margin: 2%;
    padding: 16px;
}

.white_block_article .content_image {
    height: 200px;
    width: 100%;
    padding: 0 8px 0 8px;
    border-radius: 22px
}

.white_block_article .block_date_text{
    font-style: italic;
}

.white_block_article .text_description{
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0px 8px 0 8px;
    background: #ffffffd1;
    border-radius: 4px;
}

.white_block_details  {
    width: 65%;
    background: #f2f2f2b3;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 20px 8px #d0d0d0;
    margin: auto;
    padding: 16px;
}

.white_block_details .content_image {
    height: 300px;
    width: 400px;
    float: left;
    padding: 0 8px 0 8px;
    border-radius: 22px;
}

.white_block_details .block_date_text{
    font-style: italic;
}

.white_block_details .text_description{
    float: left;
    padding: 0px 8px 0 8px;
    background: #ffffffd1;
    border-radius: 4px;
    width: 100%;
    word-wrap: break-word;
}

h1 {
  font-weight: 900;
  text-align: center;
}

h3 {
  font-weight: 300;
}


/* For All Articles section
 */

/*body {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  margin: 0;*/
/*  background-color: #f7f8fc;*/
/*  font-family: "Roboto", sans-serif;*/
/*  color: #10182f;*/
/*}*/

/*.legal_articles .container {*/
/*  display: flex;*/
/*  width: 1040px;*/
/*  justify-content: space-evenly;*/
/*  flex-wrap: wrap;*/
/*}*/
/*.legal_articles.card {*/
/*  margin: 10px;*/
/*  background-color: #fff;*/
/*  border-radius: 10px;*/
/*  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);*/
/*  overflow: hidden;*/
/*  width: 300px;*/
/*}*/
/*.legal_articles .card-header img {*/
/*  width: 100%;*/
/*  height: 200px;*/
/*  object-fit: cover;*/
/*}*/
/*.legal_articles .card-body {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: center;*/
/*  align-items: flex-start;*/
/*  padding: 20px;*/
/*  min-height: 250px;*/
/*}*/

/*.legal_articles .tag {*/
/*  background: #cccccc;*/
/*  border-radius: 50px;*/
/*  font-size: 12px;*/
/*  margin: 0;*/
/*  color: #fff;*/
/*  padding: 2px 10px;*/
/*  text-transform: uppercase;*/
/*  cursor: pointer;*/
/*}*/
/*.legal_articles .tag-teal {*/
/*  background-color: #47bcd4;*/
/*}*/
/*.legal_articles .tag-purple {*/
/*  background-color: #5e76bf;*/
/*}*/
/*.legal_articles .tag-pink {*/
/*  background-color: #cd5b9f;*/
/*}*/

/*.legal_articles.card-body p {*/
/*  font-size: 13px;*/
/*  margin: 0 0 40px;*/
/*}*/
/*.legal_articles .user {*/
/*  display: flex;*/
/*  margin-top: auto;*/
/*}*/

/*.legal_articles .user img {*/
/*  border-radius: 50%;*/
/*  width: 40px;*/
/*  height: 40px;*/
/*  margin-right: 10px;*/
/*}*/
/*.legal_articles .user-info h5 {*/
/*  margin: 0;*/
/*}*/
/*.legal_articles .user-info small {*/
/*  color: #545d7a;*/
/*}*/
