{% extends 'common/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="white_block_details">
    <h1 class="text-center" style="color:rosybrown;">Contact us!</h1>
    <div class="row">
        <div class="col-lg-6" style="margin: auto;">
            <form method="post" class="furniture-form" action="{% url 'contact us' %}"
                  enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="form-actions">
                    <button type="submit" class="btn-create">Send</button>
                </div>
            </form>
        </div>
     </div>
    </div>
{% endblock %}